

.recommended-friends {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 25px;
}
.recommended-friends__title {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
}
.recommended-friends span {
    display: block;
    margin: 100px 0;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}
